<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.flamingo" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="FlamingoApplication"
		android:debuggable="true">
		<!-- <activity android:name=".HelloFlamingos">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity> -->
		
		<activity android:name=".FlamingoActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".FlamingoCamera"
			android:screenOrientation="landscape"
			android:configChanges="orientation"
			android:windowSoftInputMode="stateAlwaysHidden">
		</activity>
		
		<activity android:name=".ReviewActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation"
			android:windowSoftInputMode="stateAlwaysHidden">
		</activity>

<!--		<activity android:name=".ReportTab" android:label="@string/app_name">-->
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.TAB" />-->
<!--			</intent-filter>-->
<!--		</activity>-->
<!---->
<!--		<activity android:name=".ReviewTab" android:label="@string/app_name">-->
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.TAB" />-->
<!--			</intent-filter>-->
<!--		</activity>-->
<!---->
<!--		<activity android:name=".MapTab" android:label="@string/app_name">-->
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.TAB" />-->
<!--			</intent-filter>-->
<!--		</activity>-->
<!---->
<!--		<activity android:name=".SettingsTab" android:label="@string/app_name">-->
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.TAB" />-->
<!--			</intent-filter>-->
<!--		</activity>-->


<!-- From OpenDataKit -->
<activity android:name=".GeoPointActivity" android:label="@string/app_name"/>

	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
</manifest> 